<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    {{>header}}
    <h1>{{name}}</h1>
    <p>This site uses mapbox API and weatherstack API to use location and fetch data</p>
    <img src="./img/anon.jpeg" alt="Image not Available">
    <p>{{about}}</p>
    {{>footer}}
</body>

</html>