<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='./css/styles.css'>
</head>

<body>
    {{>header}}
    <h1>{{name}}</h1>
    <img src="./img/hj.jpg" alt="Image not Available">
    <p>{{about}}</p>
    {{>footer}}
</body>

</html>