<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='./css/styles.css'>
    <link rel='icon' href="./img/icon.png">
</head>

<body>
    {{>header}}
    <h1>My name is {{name}} and I have completed {{degree}} from MNIT,Jaipur.</h1>

    <form>
        <input placeholder="Location">
        <button>Submit</button>
    </form>
    <p id="msg1"></p>
    <p id="msg2"></p>
    {{>footer}}


    <script src='./js/app.js'></script>
</body>

</html>