<h1>{{name}} Let's make him great again</h1>
  
  <div>
  <a href="/" style='text-decoration:none'>Home</a>
  <a href="/about" style='text-decoration:none'>About</a>
  <a href="/help" style='text-decoration:none'>Help</a>
</div>